<!DOCTYPE html>
<html lang = "en">
  <head>
      <meta charset = "UTF-8" />
      <meta name = "viewport" content = "width=device-width, initial-scale =1.0"/>
      <link rel="stylesheet" href="stylesheet.css"/>
  </head>

  <body>
    <h1>Find Tasks</h1></br>

    <h1>
        <a href="/">Home</a>
        <a href="/listTasks">List Task</a>
        <a href="/deleteTask">Delete Task</a>
        <a href="/NewTask">New Task</a>
    </h1>

    <form action="/findtasks" method="POST">
        Task ID
        <input type="text" method="POST" name="taskID" /></br>
        
        <input type="submit" value="Submit" /> </br>
    </form>
  </body>
  </html>