<!DOCTYPE html>
<html lang = "en">
  <head>
      <meta charset = "UTF-8" />
      <meta name = "viewport" content = "width=device-width, initial-scale =1.0"/>
      <link rel="stylesheet" href="stylesheet.css"/>
  </head>

  <body>
      <h1>Update Task</h1></br>

      <h1>
          <a href="/">Home</a>
          <a href="/listTasks">List Task</a>
          <a href="/deleteTask">Delete Task</a>
          <a href="/NewTask">New Task</a>
    
      </h1>

      <form action="/updateTask" method="POST">

          Task Old ID 
          <input type="text" method="POST" name="taskID" /></br>
     
          Task New Status
          <select type ="taskstatus" method= "POST" name="taskstatus" multiple>
            <option value ="inProgress">In Progress</option>
            <option value ="complete"> Complete</option>
          </select>
  
          <input type="submit" value="Submit" /> </br>
      
    </form>
  </body>
</html>
